<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Index</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	</head>

	<body>
		  <div class="container">
            <div class="col-md-8 col-md-offset-2">
				<h1>Welcome to my first page in {{title}}</h1>
				<ul class="nav navbar-nav">
				<li><a href="/users" class="btn btn-primary"> Show users </a></li>
				<li><a href="/newsletter" class="btn btn-primary"> Go to Newsletter form </a></li>
				<li><a href="/secret" class="btn btn-primary"> Read the secret message </a></li>
				<li><a href="/location" class="btn btn-primary"> Go to Locations </a></li>
				</ul>
            </div>
		  </div>
		
	</body>
</html>