<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Newsletter</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	</head>

	<body>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <h1>Subscribe to our newsletter</h1>
                <form action="/newsletter" method="post" class="form form-horizontal">
                    <label>Email: <input type="email" name="email" class="form-control"/></label>
                    <input type="submit"/>
                    <input type="hidden" name="_csrf" value="{{csrftoken}}"/>
                </form>

                <br/>
                <a href="/" class="btn btn-primary"> Go back to index </a>
            </div>
        </div>
	</body>
</html>